@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.ingredient-button {
  transition: all 0.2s;
}

.ingredient-button:hover {
  color: white;
}